.cart-dropdown {
    position: absolute;
    width: 280px;
    height: 380px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #0e3976;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 7vh;
    right: 1vw;
    z-index: 5;

    .cart-items {
        height: 240px;
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 991px) {
    .cart-dropdown {
        top: 15vh;
    }
}
