@page "/brukari/hagtoel"

@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <div class="container">
            @if (context.User.IsInRole("Company"))
            {
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="mt-4">
                                <div class="nav nav-tabs flex-sm-row" id="progressbar" role="tablist">
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/styripultur">
                                        Stýripultur
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/handil">
                                        Handil
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/voeruumsiting">
                                        Vøruumsiting
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/bileggingar">
                                        Bíleggingar
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/gjaldingar">
                                        Gjaldingar
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/aetlan">
                                        Ætlan
                                    </a>
                                    <a class="flex-sm-fill text-center bg-info text-white text-decoration-none btn-lg nav-link active" id="nav-hagtoel-tab" data-bs-toggle="tab" type="button" role="tab" aria-controls="nav-hagtoel" aria-selected="true" href="/brukari/hagtoel">
                                        Hagtøl
                                    </a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-hagtoel" role="tabpanel" aria-labelledby="nav-hagtoel-tab">
                                    <div class="flex-wrapper row wow fadeIn pt-4">
                                        <h2 class="pb-4 pt-4 text-info">Hagtøl</h2>
                                        <AdminStats />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (context.User.IsInRole("Admin"))
            {
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="mt-4">
                                <div class="nav nav-tabs flex-sm-row" id="progressbar" role="tablist">
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/styripultur">
                                        Stýripultur
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/handil">
                                        Handil
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/voeruumsiting">
                                        Vøruumsiting
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/brukarar">
                                        Brúkarar
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/bileggingar">
                                        Bíleggingar
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/gjaldingar">
                                        Gjaldingar
                                    </a>
                                    <a class="flex-sm-fill text-center text-info text-decoration-none btn-lg nav-link" type="button" href="/brukari/aetlan">
                                        Ætlan
                                    </a>
                                    <a class="flex-sm-fill text-center bg-info text-white text-decoration-none btn-lg nav-link active" id="nav-hagtoel-tab" data-bs-toggle="tab" type="button" role="tab" aria-controls="nav-hagtoel" aria-selected="true" href="/brukari/hagtoel">
                                        Hagtøl
                                    </a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-hagtoel" role="tabpanel" aria-labelledby="nav-hagtoel-tab">
                                    <div class="flex-wrapper row wow fadeIn pt-4">
                                        <h2 class="pb-4 pt-4 text-info">Hagtøl</h2>
                                        <AdminStats />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <IndexRedirect />
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <IndexRedirect />
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ((TreydAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
    }
}

