@page "/brukari/handil"

@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole("Company") || context.User.IsInRole("Admin"))
        {
            <div class="container-fluid p-0">
                <AdminStore Seller="@context.User.Identity.Name" />
            </div>
        }
        else
        {
            <IndexRedirect />
        }
    </Authorized>
    <NotAuthorized>
        <IndexRedirect />
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ((TreydAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
    }
}