<footer class="container-fluid p-5 mt-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg col-xl">
                <h5 class="mt-5 mb-3">SAMBAND</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">+298 254 094</a></li>
                    <li><a class="link-secondary" href="#">jonsigurdvp@gmail.com</a></li>
                    <li><a class="link-secondary" href="#">Bíarvegur 88</a></li>
                    <li><a class="link-secondary" href="#">850, Hvalba</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg col-xl">
                <h5 class="mt-5 mb-3">KUNDATÆNASTA</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Samband</a></li>
                    <li><a class="link-secondary" href="#">Bílegging & gjalding</a></li>
                    <li><a class="link-secondary" href="#">Flutningur</a></li>
                    <li><a class="link-secondary" href="#">Endurgjald</a></li>
                    <li><a class="link-secondary" href="#">OSS</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg col-xl">
                <h5 class="mt-5 mb-3">KUNNING</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Um okkum</a></li>
                    <li><a class="link-secondary" href="#">Samstarva við okkum</a></li>
                    <li><a class="link-secondary" href="#">Verndarpolitikkur</a></li>
                    <li><a class="link-secondary" href="#">Handilstreytir</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg col-xl">
                <h5 class="mt-5 mb-3">SOSIALIR MIÐLAR</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-5">
                        <a class="link-secondary" href="#"><i class="fab fa-linkedin fa-2x"></i></a>&nbsp;&nbsp;
                        <a class="link-secondary" href="#"><i class="fab fa-facebook fa-2x"></i></a>&nbsp;&nbsp;
                        <a class="link-secondary" href="#"><i class="fab fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
                        <a class="link-secondary" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    </li>
                    <li>
                        <small class="d-block mb-3 text-white">&copy; 2021 Treyd - øll rættindi tilskilað</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

@code {

}