 <AuthorizeView>
    <Authorized>
        <a href="vangi">Hey, @context.User.Identity.Name</a>
        <form method="POST" action="">
            <button type="submit" class="nav-item nav-link btn btn-outline-dark">Rita út</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="stovna_brukara">Stovna brúkara</a>
        <a href="rita_inn">Rita inn</a>
    </NotAuthorized>
</AuthorizeView>