@using DataLibrary
@using Microsoft.Extensions.Configuration

@inject IDataAccess _data
@inject IConfiguration _config

<div class="row">
    @if (Stores != null && Stores.Count > 0)
    {
        foreach (var store in Stores)
        {
            var storeLink = "/handlar/" + store.Name;
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-4">
                <CustomCard CardLink=@storeLink
                            IconClass="fas fa-store"
                            CardTitle="@store.Name"
                            CardTextColor="text-info"
                            CardBgColor="bg-light"
                            FooterText=""
                            FooterColor="text-info" />
            </div>
        }
    }
</div>

@code {
    private List<StoreModel> Stores;

    protected override async Task OnInitializedAsync()
    {
        await LoadStores();
    }

    protected async Task<bool> LoadStores()
    {
        try
        {
            string sql = "select * from stores";
            Stores = await _data.LoadData<StoreModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));

            return await Task.FromResult(true);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);

            return await Task.FromResult(false);
        }
    }
}
