.handheld-toolbar[b-qcy5ywpns5] {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e3e9ef;
    background-color: #fff;
    box-shadow: -1.25rem 0 2rem 0 rgb(43 52 69 / 15%);
    z-index: 1100;
}

.handheld-toolbar-item[b-qcy5ywpns5] {
    cursor: pointer;
    padding: .5rem;
    padding-top: .125rem;
    border-left: 1px solid #e3e9ef;
    text-align: center;
}

.handheld-toolbar-icon[b-qcy5ywpns5] {
    display: block;
    color: #0e3976; /* Alternative color: #4b566b */
    font-size: 1.25rem;
}

.handheld-toolbar-label[b-qcy5ywpns5] {
    display: block;
    color: #0e3976; /* Alternative color: #7d879c */
    font-size: .6875rem;
}

.handheld-toolbar-item:first-child[b-qcy5ywpns5] {
    border-right: 0;
}

.table-layout-fixed[b-qcy5ywpns5] {
    table-layout: fixed !important;
}
