<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>
</svg>

<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-info custom-navbar" style="width: 260px">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-info text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
            <AuthorizeView>
                <Authorized>
                    <span class="fs-2">@context.User.Identity.Name</span>
                </Authorized>
            </AuthorizeView>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <NavLink href="/brukari/styripultur" role="button" class="nav-link text-info" Match="NavLinkMatch.All">
                    <i class="fa fa-tachometer-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Stýripultur
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/brukari/handil" role="button" class="nav-link text-info" Match="NavLinkMatch.All">
                    <i class="fa fa-store"></i>&nbsp;&nbsp;&nbsp;&nbsp;Handil
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/brukari/voeruumsiting" role="button" class="nav-link text-info" Match="NavLinkMatch.All">
                    <i class="fa fa-warehouse"></i>&nbsp;&nbsp;&nbsp;&nbsp;Vøruumsiting
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/brukari/gjaldingar" role="button" class="nav-link text-info" Match="NavLinkMatch.All">
                    <i class="fas fa-money-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;Gjaldingar
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/brukari/hagtoel" role="button" class="nav-link text-info" Match="NavLinkMatch.All">
                    <i class="fa fa-chart-area"></i>&nbsp;&nbsp;&nbsp;&nbsp;Hagtøl
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/brukari/aetlan" role="button" class="nav-link text-info" Match="NavLinkMatch.All">
                    <i class="fa fa-calendar-day"></i>&nbsp;&nbsp;&nbsp;&nbsp;Ætlan
                </NavLink>
            </li>
        </ul>
    </div>
</main>

@code {

}

<style>
    main {
        display: flex;
        flex-wrap: nowrap;
        height: 100vh;
        height: -webkit-fill-available;
        max-height: 100vh;
        overflow-x: auto;
        overflow-y: hidden;
        position: fixed;
    }

    .b-example-divider {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .bi {
        vertical-align: -.125em;
        pointer-events: none;
        fill: currentColor;
    }

    .dropdown-toggle {
        outline: 0;
    }

    .nav-flush .nav-link {
        border-radius: 0;
    }

    .btn-toggle {
        display: inline-flex;
        align-items: center;
        padding: .25rem .5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, .65);
        background-color: transparent;
        border: 0;
    }

        .btn-toggle:hover,
        .btn-toggle:focus {
            color: rgba(0, 0, 0, .85);
            background-color: #d2f4ea;
        }

        .btn-toggle::before {
            width: 1.25em;
            line-height: 0;
            content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
            transition: transform .35s ease;
            transform-origin: .5em 50%;
        }

        .btn-toggle[aria-expanded="true"] {
            color: rgba(0, 0, 0, .85);
        }

            .btn-toggle[aria-expanded="true"]::before {
                transform: rotate(90deg);
            }

    .btn-toggle-nav a {
        display: inline-flex;
        padding: .1875rem .5rem;
        margin-top: .125rem;
        margin-left: 1.25rem;
        text-decoration: none;
    }

        .btn-toggle-nav a:hover,
        .btn-toggle-nav a:focus {
            background-color: #d2f4ea;
        }

    .scrollarea {
        overflow-y: auto;
    }

    .fw-semibold {
        font-weight: 600;
    }

    .lh-tight {
        line-height: 1.25;
    }
</style>
