@inject NavigationManager NavManager
<!-- Toolbar for handheld devices START -->
<div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100">
        @foreach (var handheldToolbarItem in HandheldToolbarItems)
        {
            if (handheldToolbarItem.IsShown == true)
            {
                <div class="d-table-cell handheld-toolbar-item" @onclick="() => HandheldToolbarItemClick(handheldToolbarItem)">
                    <span class="handheld-toolbar-icon">
                        <i class="@handheldToolbarItem.Icon"></i>
                    </span>
                    <span class="handheld-toolbar-label">
                        @handheldToolbarItem.Name
                    </span>
                </div>
            }
        }
    </div>
</div>
<!-- Toolbar for handheld devices END -->

@code {
    public bool? IsShown = true;

    // Ikki neyðugt at hava hava parameturin við, tá tú brúkar hendan komponentin
    [Parameter] public bool Filter { get; set; }
    [Parameter] public bool Menu { get; set; }
    [Parameter] public bool Wishlist { get; set; }
    [Parameter] public bool Cart { get; set; }

    [Parameter] public EventCallback<bool?> IsFilterShown { get; set; }

    private void HandheldToolbarItemClick(HandheldToolbarItem item)
    {
        if (item.Name == "Filter")
        {
            IsFilterShown.InvokeAsync(Toggle());
        }
        if (item.Name == "Menu")
        {
            NavManager.NavigateTo("/");
        }
        if (item.Name == "Cart")
        {
            NavManager.NavigateTo("/");
        }
        if (item.Name == "Wishlist")
        {
            NavManager.NavigateTo("/");
        }
    }

    public bool? Toggle()
    {
        if (IsShown == true)
        {
            IsShown = false;
        }
        else
        {
            IsShown = true;
        }

        return IsShown;
    }

    private void SetMenuLayout()
    {
        @foreach (var htItem in HandheldToolbarItems)
        {
            if (htItem.Name == "Filter" && !Filter)
            {
                htItem.IsShown = false;
            }
            if (htItem.Name == "Menu" && !Menu)
            {
                htItem.IsShown = false;
            }
            if (htItem.Name == "Wishlist" && !Wishlist)
            {
                htItem.IsShown = false;
            }
            if (htItem.Name == "Cart" && !Cart)
            {
                htItem.IsShown = false;
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        SetMenuLayout();
    }

    public class HandheldToolbarItem
    {
        public string Name { get; set; }
        public string Icon { get; set; }
        public bool? IsShown { get; set; }
    }

    List<HandheldToolbarItem> HandheldToolbarItems = new List<HandheldToolbarItem>
{
        new HandheldToolbarItem() { Name = "Filter", Icon = "fas fa-filter", IsShown = true },
        new HandheldToolbarItem() { Name = "Menu", Icon = "fas fa-bars", IsShown = true },
        new HandheldToolbarItem() { Name = "Wishlist", Icon = "fas fa-heart", IsShown = true },
        new HandheldToolbarItem() { Name = "Cart", Icon = "fas fa-shopping-cart", IsShown = true },
    };
}