<!-- Icon Cards-->

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-4">
                <CustomCard CardLink="/brukari/voeruumsiting"
                                     IconClass="fas fa-warehouse"
                                     CardTitle="Vøruumsiting"
                                     CardTextColor="text-info"
                                     CardBgColor="bg-light"
                                     FooterText=""
                                     FooterColor="bg-info" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-4">
                <CustomCard CardLink="/brukari/handil"
                                     IconClass="fas fa-store"
                                     CardTitle="Handil"
                                     CardTextColor="text-info"
                                     CardBgColor="bg-light"
                                     FooterText=""
                                     FooterColor="bg-secondary" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mt-4">
                <CustomCard CardLink="/brukari/bileggingar"
                                     IconClass="fas fa-boxes"
                                     CardTitle="Bíleggingar"
                                     CardTextColor="text-info"
                                     CardBgColor="bg-light"
                                     FooterText=""
                                     FooterColor="bg-success" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-4">
                <CustomCard CardLink="/brukari/gjaldingar"
                                     IconClass="fas fa-money-check"
                                     CardTitle="Gjaldingar"
                                     CardTextColor="text-info"
                                     CardBgColor="bg-light"
                                     FooterText=""
                                     FooterColor="bg-warning" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-4">
                <CustomCard CardLink="/brukari/aetlan"
                                     IconClass="fas fa-calendar-day"
                                     CardTitle="Ætlan"
                                     CardTextColor="text-info"
                                     CardBgColor="bg-light"
                                     FooterText=""
                                     FooterColor="bg-dark" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mt-4">
                <CustomCard CardLink="/brukari/hagtoel"
                                     IconClass="fas fa-chart-area"
                                     CardTitle="Hagtøl"
                                     CardTextColor="text-info"
                                     CardBgColor="bg-light"
                                     FooterText=""
                                     FooterColor="bg-primary" />
            </div>
            @if (context.User.IsInRole("Admin"))
            {
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mt-4">
                    <CustomCard CardLink="/brukari/brukarar"
                                         IconClass="fas fa-users"
                                         CardTitle="Brúkarar"
                                         CardTextColor="text-info"
                                         CardBgColor="bg-light"
                                         FooterText=""
                                         FooterColor="bg-danger" />
                </div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <LoginRedirect />
    </NotAuthorized>
</AuthorizeView>

@code {

}
