@using DataLibrary
@using Microsoft.Extensions.Configuration

@inject IDataAccess _data
@inject IConfiguration _config
@inject AuthenticationStateProvider AuthenticationStateProvider

<buttton class="w-100 btn btn-lg btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Skráset brúkara
</buttton>

<br />
<hr />
<br />

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stovna brúkara</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <Register />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Lat aftur</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <AdminUsersList CustomerRole="@customer" CompanyRole="@company" />
</div>

@code {
    private string company = "Company";
    private string customer = "Customer";
}