@inject NavigationManager NavigationManager
@inject StateContainer StateContainer 

@if (StateContainer.GetIsLoggedIn())
{
    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        <strong>Vælafturkomin!</strong> - Tú ert innritað/ur sum <strong>@Name</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="Unset"></button>
    </div>
}

@code {
    [Parameter]
    public string Name { get; set; }

    private void Unset()
    {
        StateContainer.SetIsLoggedIn(false);
    }
}
