@inject NavigationManager NavigationManager
@inject StateContainer StateContainer

@if (StateContainer.GetIsLoggedOut())
{
    <div class="alert alert-secondary alert-dismissible fade show mt-4" role="alert">
        Tú hevur ritað út - <strong>síggjast!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="Unset"></button>
    </div>
}
else if (StateContainer.GetIsDeleted())
{
    <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
        <h3>Hetta harmar okkum almikið... Vit vóna at síggja tygum aftur!</h3>
        <hr />
        <h4>Broytt meining?</h4>
        <p><a href="/stovna_brukara" class="btn btn-info" type="button">Stovna brúkara</a></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="Unset"></button>
    </div>
}

@code {
    private void Unset()
    {
        StateContainer.SetIsLoggedOut(false);
    }
}
