@inject NavigationManager NavigationManager
@inject StateContainer StateContainer

@if (StateContainer.GetIsRegistered())
{
    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        <strong>Vælkomin!</strong> - Tú ert nú stovnað/ur sum <strong>@Role</strong> hjá Treyd og ert innritað/ur sum <strong>@Name</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="Unset"></button>
    </div>
}


@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Role { get; set; }

    private void Unset()
    {
        StateContainer.SetIsRegistered(false);
    }
}
