.header {
    padding: 0px 0px;
    width: 100%;
}

.navbar-custom {
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .navbar-custom .nav-link:focus {
        color: #0e3976;
    }

    .navbar-custom .nav-link:hover,
    .navbar-custom .nav-link:active {
        opacity: 1;
        color: #0e3976;
    }

    .navbar-custom .navbar-brand {
        color: #0e3976;
    }

    .navbar-custom .navbar-text,
    .navbar-custom .nav-link {
        opacity: 0.75;
        color: #0e3976;
        height: 100%;
        align-items: stretch;
    }

    .navbar-custom .navbar-toggler {
        color: #0e3976;
    }

    .navbar-custom .search-form-hidden {
        display: none;
    }

    .navbar-custom .cart-component-ul-hidden {
        display: none;
    }

    .navbar-custom .nav-ul {
        display: none;
    }

    .navbar-custom .search-form {
        width: 100%;
    }

    .navbar-custom .dropdown-hidden {
        display: none;
    }

    .navbar-custom .main-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.navbar-collapse.collapsing {
    display: block;
}


@media (max-width: 1625px) {
    .um {
        display: none;
    }
}

@media (max-width: 1455px) {
    .samband {
        display: none;
    }
}

@media (max-width: 1280px) {
    .rita-inn {
        display: none;
    }

    .stovna-brukara {
        display: none;
    }

    .navbar-custom .dropdown-hidden {
        display: initial;
    }
}

@media (max-width: 991px) {
    .um {
        display: initial;
    }

    .samband {
        display: initial;
    }

    .navbar-custom .search-form {
        display: none;
    }

    .navbar-custom .search-form-hidden {
        display: initial;
        justify-content: center;
    }

    .navbar-custom .cart-component-ul-hidden {
        display: initial;
        text-align: right;
    }

    /*.navbar-custom .cart-component-ul-hidden .nav-link {
            height: 56px;
        }*/

    .navbar-custom .cart-component-ul {
        display: none;
    }

    .rita-inn {
        display: initial;
    }

    .stovna-brukara {
        display: initial;
    }

    .navbar-custom .dropdown-hidden {
        display: none;
    }

    .navbar-custom .nav-ul {
        display: inline-flex;
        margin: 0px 0px;
        padding: 0px 0px;
    }

    .navbar-custom .main-brand {
        display: none;
    }
}
