<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">VANLIG LOYSN</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">KR 249<small class="text-muted fw-light">/mðr</small></h1>
                <table class="mt-3 mb-4">
                    <tr>
                        <td>Skrásettar vørur</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Marknaðarføring</td>
                        <td>Nei</td>
                    </tr>
                    <tr>
                        <td>Dagsins handil</td>
                        <td>Avmarkað</td>
                    </tr>
                </table>
                <button type="button" class="w-100 btn btn-lg btn-primary">GER AVTALU</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">BESTA LOYSN</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">KR 449<small class="text-muted fw-light">/mðr</small></h1>
                <table class="mt-3 mb-4">
                    <tr>
                        <td>Skrásettar vørur</td>
                        <td>Óavmarkað</td>
                    </tr>
                    <tr>
                        <td>Marknaðarføring</td>
                        <td>Ja</td>
                    </tr>
                    <tr>
                        <td>Dagsins handil</td>
                        <td>Óavmarkað</td>
                    </tr>
                </table>
                <button type="button" class="w-100 btn btn-lg btn-primary">GER AVTALU</button>
            </div>
        </div>
    </div>
</div>

@code {

}
