@inject StateContainer StateContainer
@inject NavigationManager NavManager

<div class="container text-center">
    <h3 class="text-uppercase text-white">Snarleiting</h3>

    <div class="h6 pt-3 text-white">Vørubólkur</div>
    <div class="pb-3">
        <CategoryFilter ViewMode="DropDownMode"></CategoryFilter>
    </div>

    <div class="h6 pt-3 text-white">Prís avmarking</div>
    <div>
        <PriceSlider Theme="Dark" />
    </div>

    <div class="h6 pt-3 text-white">Goymslustøða</div>
    <div class="pb-3">
        <StockState Theme="Dark" />
    </div>

    <div>
        <button class="btn btn-lg btn-info mt-4" @onclick="Search"><i class="fas fa-search"></i> Leita</button>
    </div>
</div>

@code {
    string text = "true";

    public void Search()
    {
        NavManager.NavigateTo("/soelumidstoedin/quicksearch");
    }
}
