
@inject StateContainer StateContainer

<div class="DarkTheme">
    <SfCheckBox @bind-Checked="IsChecked" TChecked="bool" Value="bool" ValueChange="ValueChange"></SfCheckBox> Á goymslu
</div>

@code {
    private bool IsChecked;
    private string ThemeClass = "";

    [Parameter] public string Theme { get; set; }

    public void ValueChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> Args)
    {
        SetInStockState();
    }

    private void SetTheme()
    {
        if (ThemeClass == "Light")
        {
            this.ThemeClass =
                "text-light";
        }
        if (ThemeClass == "Dark")
        {
            this.ThemeClass =
                "text-dark";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        SetTheme();
    }

    private void SetInStockState()
    {
        StateContainer.GetInStockState(IsChecked);
    }
}
